{% extends 'layout.html' %}

{% block head %}
<script src="{{ url_for('static', filename='javascript/map-address-field.js') }}"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&libraries=places&callback=initAutocomplete">
</script>
{% endblock %}

{% block body %}
<h1>profile page</h1>
    <div class="row content-section">
     {{ error }}
     {{ saved }}
     {{ address_data }}
	<div class="col mt-3">        
		<form action="" enctype="multipart/form-data" method="POST">
			{{ profileForm.hidden_tag() }}
			<fieldset class="form-control d-grid gap-3">
					<legend>
							Create a Profile!
					</legend>
					<div class="form-group profile-picture">
                        {{ profileForm.picture.label() }}
                        {{ profileForm.picture(class="form-control-label") }}
                        {% if profileForm.picture.errors %}
                            {% for error in profileForm.picture.errors %}
                                <span class="text-danger">{{ error }}</span><br/>
                            {% endfor %}
                        {% endif %}
					</div>
					<div class="form-group first-name">
                        {{ profileForm.first_name.label(class="form-control-label") }}

							{% if profileForm.first_name.errors %}
							{{ profileForm.first_name(class="form-control-label is-invalid", placeholder="First Name") }}
							<div class="invalid-feedback">
									{% for error in profileForm.first_name.errors %}
									<span>{{ error }}</span>
									{% endfor %}
							</div>
							{% else %}
							{{ profileForm.first_name(class="form-control-label", placeholder="First Name") }}

							{% endif %}
					</div>
					<div class="form-group last-name">
                        {{ profileForm.last_name.label(class="form-control-label") }}

							{% if profileForm.last_name.errors %}
							{{ profileForm.last_name(class="form-control-label is-invalid", placeholder="Last Name") }}
							<div class="invalid-feedback">
									{% for error in profileForm.last_name.errors %}
									<span>{{ error }}</span>
									{% endfor %}
							</div>
							{% else %}
							{{ profileForm.last_name(class="form-control-label", placeholder="Last Name") }}

							{% endif %}
					</div>
                    <div class="form-group address">
                        {{ profileForm.street_address.label(class="form-control-label") }}

                        {% if profileForm.street_address.errors %}
                        <div id="locationField">
                            <input id="autocomplete" placeholder="Enter your address"  type="text" class="form-control">
                          </div>
                            <p id="details"></p>
                        <div class="invalid-feedback">
                                {% for error in profileForm.street_address.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% else %}
                        <div id="locationField">
                            <input id="autocomplete" placeholder="Enter your address"  type="text" class="form-control">
                          </div>
                            <p id="details"></p>

                        {% endif %}
                </div>
                    
                <div class="form-group phone-number">
                    {{ profileForm.phone_number.label(class="form-control-label") }}

                    {% if profileForm.phone_number.errors %}
                    {{ profileForm.phone_number(class="form-control-label is-invalid", placeholder="Phone Number") }}
                    <div class="invalid-feedback">
                            {% for error in profileForm.phone_number.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                    {{ profileForm.phone_number(class="form-control-label", placeholder="Phone Number") }}

                    {% endif %}
                </div>
                <div class="form-group twitter">
                    {{ profileForm.twitter.label(class="form-control-label") }}

                    {% if profileForm.twitter.errors %}
                    {{ profileForm.twitter(class="form-control-label is-invalid", placeholder="Twitter") }}
                    <div class="invalid-feedback">
                            {% for error in profileForm.twitter.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                    {{ profileForm.twitter(class="form-control-label", placeholder="Twitter") }}

                    {% endif %}
                </div>
                <div class="form-group facebook">
                    {{ profileForm.facebook.label(class="form-control-label") }}

                    {% if profileForm.facebook.errors %}
                    {{ profileForm.facebook(class="form-control-label is-invalid", placeholder="Facebook") }}
                    <div class="invalid-feedback">
                            {% for error in profileForm.facebook.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                    {{ profileForm.facebook(class="form-control-label", placeholder="Facebook") }}

                    {% endif %}
                </div>
					<div class="form-group">
							{{ profileForm.submit(class="btn btn-outline-info")}}
					</div>
			</fieldset>
        </form>
    </div>
</div>    
{% endblock %}