{% extends 'layout.html' %}

{% block head %}
<script src="{{ url_for('static', filename='javascript/map-address-field.js') }}"></script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&libraries=places&callback=initAutocomplete">
</script>
{% endblock %}

{% block body %}
<h1>profile page</h1>
    <div class="row content-section">
     {{ error }}
     {{ saved }}
     {{ address_data }}
	<div class="col mt-3">        
		<form action="" enctype="multipart/form-data" method="POST">
			{{ form.hidden_tag() }}
			<fieldset class="form-control d-grid gap-3">
					<legend>
							Create a Profile!
					</legend>
					<div class="form-group profile-picture">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-label") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span><br/>
                            {% endfor %}
                        {% endif %}
					</div>
					<div class="form-group first-name">
                        {{ form.first_name.label(class="form-control-label") }}

							{% if form.first_name.errors %}
							{{ form.first_name(class="form-control-label is-invalid", placeholder="First Name") }}
							<div class="invalid-feedback">
									{% for error in form.first_name.errors %}
									<span>{{ error }}</span>
									{% endfor %}
							</div>
							{% else %}
							{{ form.first_name(class="form-control-label", placeholder="First Name") }}

							{% endif %}
					</div>
					<div class="form-group last-name">
                        {{ form.last_name.label(class="form-control-label") }}

							{% if form.last_name.errors %}
							{{ form.last_name(class="form-control-label is-invalid", placeholder="Last Name") }}
							<div class="invalid-feedback">
									{% for error in form.last_name.errors %}
									<span>{{ error }}</span>
									{% endfor %}
							</div>
							{% else %}
							{{ form.last_name(class="form-control-label", placeholder="Last Name") }}

							{% endif %}
					</div>
                    <div class="form-group address">
                        {{ form.street_address.label(class="form-control-label") }}

                        {% if form.street_address.errors %}
                        <div id="locationField">
                            <input id="autocomplete" placeholder="Enter your address"  type="text" class="form-control">
                          </div>
                            <p id="details"></p>
                        <div class="invalid-feedback">
                                {% for error in form.street_address.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% else %}
                        <div id="locationField">
                            <input id="autocomplete" placeholder="Enter your address"  type="text" class="form-control">
                          </div>
                            <p id="details"></p>

                        {% endif %}
                </div>
                    
                <div class="form-group phone-number">
                    {{ form.phone_number.label(class="form-control-label") }}

                    {% if form.phone_number.errors %}
                    {{ form.phone_number(class="form-control-label is-invalid", placeholder="Phone Number") }}
                    <div class="invalid-feedback">
                            {% for error in form.phone_number.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                    {{ form.phone_number(class="form-control-label", placeholder="Phone Number") }}

                    {% endif %}
                </div>
                <div class="form-group twitter">
                    {{ form.twitter.label(class="form-control-label") }}

                    {% if form.twitter.errors %}
                    {{ form.twitter(class="form-control-label is-invalid", placeholder="Twitter") }}
                    <div class="invalid-feedback">
                            {% for error in form.twitter.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                    {{ form.twitter(class="form-control-label", placeholder="Twitter") }}

                    {% endif %}
                </div>
                <div class="form-group facebook">
                    {{ form.facebook.label(class="form-control-label") }}

                    {% if form.facebook.errors %}
                    {{ form.facebook(class="form-control-label is-invalid", placeholder="Facebook") }}
                    <div class="invalid-feedback">
                            {% for error in form.facebook.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                    {{ form.facebook(class="form-control-label", placeholder="Facebook") }}

                    {% endif %}
                </div>
					<div class="form-group">
							{{ form.submit(class="btn btn-outline-info")}}
					</div>
			</fieldset>
        </form>
    </div>
</div>    
{% endblock %}