{% extends 'layout.html' %} {% block head %}

<script src="{{ url_for('static', filename='javascript/map-address-field.js') }}"></script>

{% endblock %} {% block body %}

<div class="row">
  <div class="col mt-3">
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class=" card form-control d-grid gap-3">
        <legend>{{ legend }}</legend>
        <div class="form-group activity-title">
          {{ form.title.label() }} {% if form.title.errors %} {{
          form.title(class="form-control-label is-invalid", placeholder="title")
          }}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.title(class="form-control-label",
          placeholder="title") }} {% endif %}
        </div>
        <div class="form-group activity-type">
          {{ form.activity_type.label() }} {% if form.activity_type.errors %} {{
          form.activity_type(class="form-control-label is-invalid",
          placeholder="activity_type") }}
          <div class="invalid-feedback">
            {% for error in form.activity_type.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.activity_type(class="form-control-label",
          placeholder="Type") }} {% endif %}
        </div>
        <div class="form-group address">
          {{ form.address.label(class="d-inline form-control-label") }} {% if
          form.address.errors %}
          <div id="addressField">
            <input
              id="autocomplete"
              placeholder="Enter your address"
              type="text"
              class="d-inline w-75"
            />
          </div>
          
          <div class="invalid-feedback">
            {% for error in form.address.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          <div id="addressField">
            <input
              id="autocomplete"
              placeholder="Enter your address"
              type="text"
              class="form-control"
            />
          </div>
          <p id="details"></p>

          {% endif %}
        </div>
        <div class="form-group description">
          {{ form.description.label() }} {% if form.description.errors %} {{
          form.description(class="form-control-label is-invalid",
          placeholder="description") }}
          <div class="invalid-feedback">
            {% for error in form.description.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} {{ form.description(class="d-block form-control-label",
          placeholder="description") }} {% endif %}
        </div>

        <div class="form-group">
          {{ form.submit(class="secondary")}}
        </div>
      </fieldset>
    </form>
  </div>
</div>
<script
  async
  src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&libraries=places&callback=initAutocomplete"
></script>
{% endblock %}
