{% extends 'layout.html' %} {% block head %} {% endblock %} {% block body %}

<div class="row content-section">
  <a class="view-toggle mb-3" href="{{ url_for('profiles.account_profile') }}" >
    back
  </a>
  <div class="col">  
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="form-control d-grid gap-3">
        <legend>Update Account Info</legend>
        <div class="form-group username">
          {{ form.username.label() }} 
          {% if form.username.errors %} 
            {{ form.username(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} 
            {{ form.username(class="form-control") }} 
          {% endif %}
        </div>
        <div class="form-group email">
          {{ form.email.label() }} 
          {% if form.email.errors %} 
          {{ form.email(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %} 
            {{ form.email(class="form-control") }} 
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info")}}
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col"></div>
</div>
{% endblock %}
