
body {
  background-color: #f3ffe8;
}

#navbar {
  background-color: #7bae7f;
}

#logo {
  max-height: 50px;
}

#navbar a,
h1,
h2,
h3,
h4,
h5, legend, input {
  color: #284d3b;
}


.content-section {
  margin: 20px 30px;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Titillium Web", sans-serif;

}
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}

.body,
.lead-body {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
}

.body {
  font-size: 16px;
  line-height: 24px;
  color: #454851;
}

.lead-body {
  font-size: 24px;
  line-height: 28px;
}

.primary,
input.secondary, .pan-to-location-button   {
  border-radius: 30px;
  padding: 5px 40px;
  font-weight: 300;
}

.primary, .pan-to-location-button  {
  background-color: #fb6007e3;
  color: #454851;
  border: none;
}

button.primary:hover, .pan-to-location-button:hover  {
  background-color: #fb6107;
  color: #454851;
  border: none;
}

input.secondary {
  border: 3px solid #7bae7f;
  background-color: #ffff;
  color: #7bae7f;
}

input.secondary:hover {
  border: 3px solid #7bae7f;
  background-color: #7bae7f;
  color: #ffff;
}
/* login page */
.login-image {
  transform: rotateY(180deg);
}
/* home page map */
.view-toggle:hover {
  color: #284d3b;
}

a.view-toggle {
  color: #7bae7f;
}

.map-wrapper {
  position: relative;
}
.pan-to-location-button {
  margin-top: 20px;
  font-size: 18px;
}

#map {
  height: 75vmin;
  width: 95%;
  margin: 0 auto;
}
#floating-panel {
  /* position: absolute;
  top: 20px;
  left: 25%; */
  z-index: 5;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}
#address {
  background: none;
  border: none;
  border-bottom: 2px solid #7bae7f;
}
.activity-card {
  border: 1px solid #7bae7f;  
  margin: 50px 30px 10px 0px;
}

/* view activity card */

